.navbar{
  background-color: #FFFDF4 !important;
}

body{
  background-color: #CC6775!important;
}

.carousel{
  height: 50rem!important;
  
}

.images {
  height: 100% !important; 
  width: 100% !important;
  object-fit: cover !important;
  
}


.menu{
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
  font-family:'Sacramento', cursive ;
  color: #D83232;
  display: inline-block;
  animation: move 2s infinite;
}

@keyframes menü{
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px); /* İleri hareket mesafesi */
  }
  100% {
    transform: translateX(0);
  }
}


.cards{
  /* border: 2px solid red; */
  overflow: hidden;
  /* position: relative; */
  /* margin-bottom: 20px; */
  font-family: 'Sacramento';
  /* box-shadow: 2px 2px 2px 3px #C66973; */
  border-radius: 10px;
  
  
}

.title{
 background-color: #FFD9DD;
}

.box{
  background-color:#FFD9DD ;
  /* border: 2px dotted #C66973; */
  border: none;
}
.img{
  width: 70%;
  margin: auto;
  margin-top: 5px;
  border-radius: 30px;
  transition: transform 0.3s ease;
 
}
.img:hover{
cursor: pointer;
transform: scale(1.1);

}
.btns{
  background-color: #C66973;
  border: none;
  
}
.btns:hover{
  background-color: #FFD9DD;
}

.background{
background-color:#FFD9DD ;
}

.accordion{
  background-image: url(./image/angelina-yan-2o_G7UQliOI-unsplash.jpg);
  background-size: cover;
  background-color: #FFD9DD;
  background-position:center;
  /* border: 2px solid red; */
  height: 600px;
  font-family:'Sacramento';
  font-size: 15px;
  margin-top: 60px;
  
}
.accor{
  background-color: #FFD9DD !important;
}
.acc-body{
  background-color: #FFD9DD;
}

/* .li{
  background-color: #FFFDF4;
} */

.headers{
  background-color:  #FFFDF4;
  }

  
  .footer:hover{
    cursor: pointer;
  }

  

  @keyframes move{
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px); /* İleri hareket mesafesi */
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .hak{
    display: inline-block;
    animation: move 2s infinite;
  }
  
  .order{
    text-align: center;
    font-size: 20px;
    font-family: 'Sacramento', cursive;
    color: white;
  }

  .div-form{
    background-image: url(../src/image/ulysse-pointcheval-1WmlAiYgnoI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
   
  
  }


  .form{
   
    width: 600px;
    height: 600px;
    border-radius: 50px;
    margin: 30px auto;
   
    padding: 30px;
    background-color:rgba(0, 0, 0, 0.445);
    font-size: 15px;
    font-family: 'Sacramento', cursive;
    color: white;
  }

  .buton{
    background-color: #C66973;
    border: none;
  }

  .teams{
    /* background-image: url(./image/deva-williamson-S2jw81lfrG0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
    background-color: #CC6775;
  }