.navbar{
  background-color: #FFFDF4 !important;
}

body{
  background-color: #FFFDF4 !important;
}

.carousel{
  /* height: 50rem!important; */
  
}

.images {
  height: 100% !important; 
  width: 100% !important;
  object-fit: cover !important;
}


.menu{
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
  font-family:'Sacramento', cursive ;
  color: #D83232;
  display: inline-block;
  animation: move 2s infinite;
}

@keyframes menü{
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px); /* İleri hareket mesafesi */
  }
  100% {
    transform: translateX(0);
  }
}


.cards{
  /* border: 2px solid red; */
 
  overflow: hidden;
  /* position: relative; */
  /* margin-bottom: 20px; */
  font-family: 'Sacramento';
  box-shadow: 2px 2px 2px 3px #C66973;
  margin: 10px 5px;
border-radius: 10px;
  
  
}

.title{
 background-color: #FFD9DD;
}

.box{
  background-color:#FFFDF4 ;
  /* border: 2px dotted #C66973; */
  border: none;
}
.img{
  width: 70%;
  margin: auto;
  margin-top: 5px;
  border-radius: 30px;
  transition: transform 0.3s ease;
 
}
.img:hover{
cursor: pointer;
transform: scale(1.1);

}
.btns{
  background-color: #C66973;
  border: none;
  
}
.btns:hover{
  background-color: #FFD9DD;
}

.background{
background-color:#FFD9DD ;
}

.accordion{
  background-image: url(./image/angelina-yan-2o_G7UQliOI-unsplash.jpg);
  background-size: cover;
  background-color: #FFFDF4;
  /* border: 2px solid red; */
  height: 450px;
  font-family:'Sacramento';
  font-size: 15px;
  margin-top: 60px;
  
}

.li{
  background-color: #FFFDF4;
}

.headers{
  background-color:  #FFFDF4;
  }

  .footer{
    background-image: url(./image/ari-agustian-aqmUX7eY9pA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFD9DD ;
  }

  .footer:hover{
    cursor: pointer;
  }

  

  @keyframes move{
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px); /* İleri hareket mesafesi */
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .hak{
    display: inline-block;
    animation: move 2s infinite;
  }
  
  .order{
    text-align: center;
    font-size: 20px;
    font-family: 'Sacramento', cursive;
    color: white;
  }

  .form{
    background-image: url(../src/image/ulysse-pointcheval-1WmlAiYgnoI-unsplash.jpg);
    background-size: cover;
    width: 600px;
    height: 600px;
    border-radius: 50px;
    margin: auto;
    border: 2px dotted  #C66973;
    padding: 10px;
    background-color:#FFD9DD ;
    font-size: 15px;
    font-family: 'Sacramento', cursive;
    color: white;
  }

  .buton{
    background-color: #C66973;
    border: none;
  }

  .teams{
    background-image: url(./image/deva-williamson-S2jw81lfrG0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }